
element {
}
.friction {
  border-top: 1px solid var(--border);
  background: var(--offblack);
}
section {
  padding: 7rem 2rem;

}
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;

  padding: 0;
}
body {
  color: var(--white);
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
}
:root {
  --black: #0a0a0a;
  --offblack: #111111;
  --white: #f5f0e8;
  --red: #c0392b;
  --red-hot: #e74c3c;
  --gray: #888;
  --border: rgba(245,240,232,0.12);
}

    /* Overlay Grid
    Grid Display Settings
    margin
    border
    padding

    1839×706.983
    1903×931.983
    static
    box-sizing
    border-box
    display
    block
    float
    none
    line-height
    normal
    position
    static
    z-index
    auto
 */
